.contactUs{
    margin-top: -1em;
}
h3.contactUs{
    color: #ffffff;
    /* font: 2em; */
    font-size: xx-large;
    align-self: top;
    text-align: start;
}
p.contactUs{
    color: #ffffff;
    /* font: 3em;   */
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: -3em;
}
input.info{
    float: left;
    width: 60%;
    background-color: #FAD7A9;
    padding-left: 1em;
    border-color: inherit;
    border-radius: 2em;
    height: 2.5em;
    margin-bottom: 1em;
    font-size: large;
}
input.sendMessage{
    width: fit-content;
}
.contactUsForm{
    
    margin-top: -4em;
}
textarea.message{
    width: 100%;
    text-align: left;
    background-color: #FAD7A9;
    text-decoration-style: inherit;
    border-color: inherit;
    border-radius: 2em;
    height: 7em;
    margin-bottom: 1em;
    font-size: large; 
    padding-left: 1em;
    padding-top: 1em;
}

input[type="submit"] {
    margin: 10px;
    padding-right: 30px;
}

span {
    position: relative;
}

span:after {
    font-family: FontAwesome;
    content: "\f004"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events: none;
}
p.thanks{
    color: #ffffff;
    /* font: 3em;   */
    font-size: x-large;
    font-weight: bold; 
}

