.socialMedia{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 16px;
    width: 50px;
    height: fit-content;
    margin-top: -140px;
    /* Black color 5% */
    
    background: rgba(38, 35, 31, 0.1);
    border-radius: 40px;
}